<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.hyperlearn.rent_splitter">
    <application>
        <activity
         android:name=".MainActivity"
         android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1758839910776370~4652212137"/>
    </application>
</manifest>



